.isAgent{
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
}

.isCust{
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}